/* body {
  width: 300px;
} */

.test-div {
  background-color: red;
  width: 100px;
  height: 100px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 400px;
}

/* button {
  height: 30px;
  width: 30px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
} */
